In [32]:
print(64523)

64523

In [4]:
print('Hello Python')

Hello Python

In [33]:
a = 24

In [34]:
a

24

In [10]:
print(a)

200

In [3]:
a = 200

In [9]:
print(a)

200

In [10]:
name = 'Mubassir'

In [14]:
print(name)

Mubassir

In [16]:
23 + 9863

9886

In [22]:
'a' + 'b'

'ab'

In [20]:
734.3245

734.3245

In [23]:
b = 10

In [4]:
a * c

15000

In [5]:
c = 75

In [7]:
type(a)

int

In [8]:
price = 49.95
type(price)

float

In [12]:
type(name)

str

In [17]:
# print('something')
print('something') # this line will display data

something

In [18]:
num1, num2 = 20, 30

In [19]:
print(num1, num2)

20 30

In [24]:
result = num1 + num2

In [25]:
result

50

In [26]:
print(result + 10)

60

In [27]:
num3, num4 = 4, 8
prod = num3 * num4
print(prod)

32

In [ ]:
# WAP to add three numbers

In [30]:
# WAP to find area of cicle
radius = 5
area = 3.14 * radius ** 2
print(area)

78.5

In [3]:
hobby = input("Enter your hobby")

In [4]:
hobby

'Coding'

In [8]:
print('You see an apple seller!')
q = input('Do you like apples?')

if q == 'yes':
    print('purchase apples')
else:
    print('walk away')

You see an apple seller!
walk away

In [ ]:
x = 2
if x > 5:
    print('x is greater than 5')
    print('this is the info')
    print('bla bla')

print('the end')

bla bla
the end

In [ ]:
x = 10
y = 5

if x > y:
    print('x is greater than y')
    print('y is smaller than x')

if y < 6:
    print('y is smaller than 6 also')
    print('why y is smaller')

if y == 3:
    print('y is 3')
    y = x+y

x is greater than y
y is smaller than x
y is smaller than 6 also
why y is smaller

In [5]:
65456 + 73567

139023